node_modules/
dist/
.next/

.env
.env.local
.env.production

.local-pkgs/
.local-postgres/
pgsql-local/
storage/
!frontend/src/app/admin/storage/
!frontend/src/app/admin/storage/**
!backend/src/modules/storage/
!backend/src/modules/storage/**
tmp/

*.log
