DATABASE_URL="postgresql://routlis:Proadmin2025.@postgres:5432/routlis?schema=public"

JWT_SECRET="change-this-to-a-long-random-secret"
JWT_EXPIRES_IN="1d"

COOKIE_NAME="routlis_token"
COOKIE_SECURE="true"

STORAGE_DRIVER="local"
LOCAL_STORAGE_PATH="/var/www/routlis/storage"
LOCAL_AUDIO_PATH="/var/www/routlis/storage/audio-assets"
PUBLIC_AUDIO_BASE_URL="https://api.31.97.65.9.nip.io/files/audio-assets"

FRONTEND_URL="https://routlis.31.97.65.9.nip.io"
CORS_ORIGINS="https://routlis.31.97.65.9.nip.io,https://api.31.97.65.9.nip.io"
PORT="4000"
SEED_ADMIN_PASSWORD="Admin123*"
