# Define tu dominio base y asigna estos dos hosts en consecuencia.
FRONTEND_HOST=routlis.tudominio.com
API_HOST=api.routlis.tudominio.com
LETSENCRYPT_EMAIL=tu-correo@dominio.com

POSTGRES_DB=routlis
POSTGRES_USER=routlis
POSTGRES_PASSWORD=CAMBIAR_ESTA_CLAVE

JWT_SECRET=CAMBIAR_ESTE_SECRETO_LARGO
JWT_EXPIRES_IN=1d
COOKIE_NAME=routlis_token
SEED_ADMIN_PASSWORD=Admin123*
